<link rel="stylesheet" href="/css/prettybox.css" />
<link rel="stylesheet" href="/css/index.css" />
<link rel="stylesheet" href="/css/app-updated.css" />
<title>HelloSign and {{profile.company}}</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/cdn.hellosign.com/public/js/hellosign-embedded.LATEST.min.js"></script>
<script>
    HelloSign.init("{{profile.client_id}}");

    $(document).ready(function(){

        $('.need-help').click(function(){

            $('.need-help-dropdown').toggleClass('hidden-dropdown');

            var icon = $(this).find('i');

            if(icon.hasClass('fa-chevron-circle-right')){
                icon.removeClass('fa-chevron-circle-right');
                icon.addClass('fa-chevron-circle-down');
            }else{
                icon.removeClass('fa-chevron-circle-down');
                icon.addClass('fa-chevron-circle-right  ');
            }
        })
    })

</script>

<style>
    .app-sidebar, .sidebar-logo, .sidebar-menu{
        background: white !important;
    }

    .sidebar-copyright a{
        color: {{profile.primaryColor}} !important;
    }

    .sidebar-copyright a:hover{
        color: {{sidebarLinkColor}} !important;
    }

    .app-header{
        background: {{profile.primaryColor}} !important;
    }

    .app-body {
        background: #f6f6f6 !important;
    }
    /*
        .app-body{
            background: {{profile.contentBackground}} !important;
    }
*/

    .btn{
        background: {{profile.primaryColor}} !important;
        color: white;
    }
    .form-control:focus {
        border-color: {{profile.primaryColor}} !important;
    }
    .dropzone:hover{
        border-color: {{profile.primaryColor}} !important;
    }
    .modal-content input:focus, .modal-content textarea:focus {
        border-color: {{profile.primaryColor}} !important;
    }
    .addRole:hover {
        border:dashed 2px {{profile.primaryColor}} !important;
    }
    .checkbox label i {
        color: {{profile.primaryColor}} !important;
    }


    .whitelabel-primary-button {
        background-color: {{profile.primaryColor}} !important;
    }
    .stats-line-break {
        background-color: {{profile.primaryColor}} !important;
    }

    li.active {
        background-color: {{profile.primaryRGBA}} !important;
        border-left: solid 6px {{profile.primaryColor}} !important;
        padding: 8px 0 8px;
    }

</style>

<div class="row app-container">

    <div class="logo-container" style="background: url('/{{profile.logo}}') no-repeat;">
    </div>

    <div class="row header">

        <div class="app-header">
            {{#if welcome}}
                <div class="text-container">
                    {{#if profile.company}}
                        <div class="maintext">Welcome, <span style="font-family: 'ProximaNovaSBold', sans-serif;">{{profile.company}}</span></div>
                    {{else}}
                        <div class="maintext">Welcome!</div>
                    {{/if}}
                </div>
            {{/if}}

            {{#if dashboard}}
                <div class="text-container">
                    <div>
                        <div class="maintext">Highlights</div>
                        <div class="subtext">Dashboard View</div>
                    </div>
                </div>
            {{/if}}

            {{#if embedded-templates}}
                <div class="text-container">
                    <div>
                        <div class="maintext">Embedded Templates</div>
                        <div class="subtext">Embedded Templates</div>
                    </div>
                </div>
            {{/if}}

            {{#if non-embedded-requests}}
                <div class="text-container">
                    <div>
                        <div class="maintext">Embedded Requesting</div>
                        <div class="subtext">Non-Embedded Requests</div>
                    </div>
                </div>
            {{/if}}

            {{#if from-template}}
                <div class="text-container">
                    <div>
                        <div class="maintext">Embedded Requesting</div>
                        <div class="subtext">From Template</div>
                    </div>
                </div>
            {{/if}}

            {{#if status}}
                <div class="text-container">
                    <div>
                        <div class="maintext">Embedded Requesting</div>
                        <div class="subtext">Status of Requests</div>
                    </div>
                </div>
            {{/if}}

            {{#if embedded-signing}}
                <div class="text-container">
                    <div>
                        <div class="maintext">Embedded Signing</div>
                        <div class="subtext">Embedded Signing</div>
                    </div>
                </div>
            {{/if}}

            {{#if signer-reassignment}}
                <div class="text-container">
                    <div>
                        <div class="maintext">Embedded Signing</div>
                        <div class="subtext">Signer Reassignment</div>
                    </div>
                </div>
            {{/if}}

            {{#if merge-fields}}
                <div class="text-container">
                    <div>
                        <div class="maintext">Merge Fields</div>
                        <div class="subtext">Merge Fields</div>
                    </div>
                </div>
            {{/if}}

            <div class="need-help">Need Help?
                <i class="fa fa-chevron-circle-right" aria-hidden="true" style="font-size:12px;margin-left:2px;"></i>
            </div>
            <div class="need-help-dropdown hidden-dropdown">
                <div>Hey {{profile.company}}.</div>
                <div>Need help? Have questions for us?</div>
                <div>Email us at <a href="mailto:sales@hellosign.com">sales@hellosign.com</a></div>
            </div>
            <a class="header-more-info-button">{{profile.headerMoreInfo}}</a>
        </div>

    </div>

    <div class="app-main">

        <div class="menu-toggle">
            <i class="fa fa-bars"></i>
        </div>

        <div class="app-sidebar">

            <script>

                manuallyCollapsed = false;

                var button = $('.menu-toggle');
                var menu = button.parent().find('.app-sidebar');
                var smenu = button.parent().find('.sidebar-menu');

                $(document).ready(function(){
                    var width = $( window ).width();
                    if(width<=991){
                        menu.addClass('collapsed');
                        smenu.addClass('collapsed');
                        button.addClass('button-collapsed');
                        $('.app-main').addClass('menu-collapsed');
                        $('.app-body').addClass('menu-collapsed-body');
                    }
                });

                $('.menu-toggle').click(function(){
                    manuallyCollapsed=!manuallyCollapsed;
                    menu.toggleClass('collapsed');
                    smenu.toggleClass('collapsed');
                    button.toggleClass('button-collapsed');
                    $('.app-main').toggleClass('menu-collapsed');
                    $('.app-body').toggleClass('menu-collapsed-body');
                });

                $( window ).resize(function() {
                    var width = $( window ).width();
                    if(width<=991){
                        menu.addClass('collapsed');
                        smenu.addClass('collapsed');
                        button.addClass('button-collapsed');
                        $('.app-main').addClass('menu-collapsed');
                        $('.app-body').addClass('menu-collapsed-body');
                    }else if(!manuallyCollapsed){
                        menu.removeClass('collapsed');
                        smenu.removeClass('collapsed');
                        button.removeClass('button-collapsed');
                        $('.app-main').removeClass('menu-collapsed');
                        $('.app-body').removeClass('menu-collapsed-body');
                    }
                });




            </script>

            <div class="sidebar-menu">
                <ul class="menu1" style="margin-bottom:-5px;">
                    <li class="sidebar-title">
                        <a class="menu-btn" href="/{{profile.url}}/welcome">WELCOME</a>
                    </li>
                    <ul class="menu3">
                        <li class="{{#if welcome}}active{{/if}} sidebar-li"><a class="menu-btn sidebar-link" href="/{{profile.url}}/welcome">Requester View</a></li>
                        <li class="{{#if from-template}}active{{/if}} sidebar-li"><a class="menu-btn sidebar-link" href="/{{profile.url}}/from-template">From Template</a></li>
                    </ul>
                </ul>
                <br/>
                <ul class="menu2">
                    <li class="menu2-section">
                        <a class="menu-btn sidebar-title" href="/{{profile.url}}/non-embedded-requests">
                            Non-Embedded Requesting
                        </a>
                        <ul class="menu3">
                            <li class="{{#if non-embedded-requests}}active{{/if}} sidebar-li"><a class="menu-btn sidebar-link" href="/{{profile.url}}/non-embedded-requests">Non-Embedded Requests</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="menu2">
                    <li class="menu2-section">
                        <a class="menu-btn sidebar-title" href="/{{profile.url}}/embedded-signing">
                            Embedded Signing
                        </a>
                        <ul class="menu3">
                            <li class="{{#if embedded-signing}}active{{/if}} sidebar-li"><a class="menu-btn sidebar-link" href="/{{profile.url}}/embedded-signing">Embedded Signing</a></li>
                            <li class="{{#if signer-reassignment}}active{{/if}} sidebar-li"><a class="menu-btn sidebar-link" href="/{{profile.url}}/signer-reassignment">Signer Reassignment</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="menu2">
                    <li class="menu2-section">
                        <a class="menu-btn sidebar-title" href="/{{profile.url}}/embedded-templates">Embedded Templates</a>
                        <ul class="menu3">
                            <li class="{{#if embedded-templates}}active{{/if}} sidebar-li"><a class="menu-btn sidebar-link" href="/{{profile.url}}/embedded-templates">Embedded Templates</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="menu2">
                    <li class="menu2-section">
                        <a class="menu-btn sidebar-title" href="/{{profile.url}}/status">Highlights</a>
                        <ul class="menu3">
                            <!--<li class="{{#if status}}active{{/if}} sidebar-li"><a class="menu-btn sidebar-link" href="/{{profile.url}}/status">Status of Requests</a></li>-->
                            <li class="{{#if merge-fields}}active{{/if}} sidebar-li"><a class="menu-btn sidebar-link" href="/{{profile.url}}/merge-fields">Merge Fields</a></li>
                            <li class="{{#if dashboard}}active{{/if}} sidebar-li"><a class="menu-btn sidebar-link" href="/{{profile.url}}/dashboard">Dashboard View</a></li>
                        </ul>
                    </li>
                </ul>

            </div>

            <div class="sidebar-copyright" style="display:none;">
                <a href="https://www.hellosign.com" target="_blank">© 2017 HelloSign Demo Dashboard</a>
            </div>

        </div>

        <div class="row app-body">

            {{#if welcome}}
                {{>welcome}}
            {{/if}}

            {{#if dashboard}}
                {{>dashboard}}
            {{/if}}

            {{#if embedded-templates}}
                {{>embedded-templates}}
            {{/if}}

            {{#if non-embedded-requests}}
                {{>non-embedded-requests}}
            {{/if}}

            {{#if from-template}}
                {{>from-template}}
            {{/if}}

            {{#if status}}
                <div status-main class="status-section">

                    <script>
                        reorder = function(id){
                            $('.status-container[data-cat="'+id+'"]').find('br').remove();
                            $('.status-container[data-cat="'+id+'"] .status').sort(function (a, b) {
                                var m1 = $(a).find('.top');
                                var d1 = $(a).find('.bottom');
                                var m2 = $(b).find('.top');
                                var d2 = $(b).find('.bottom');
                                if (moment(m1 + '/' + d1, 'MMM/DD') > moment(m2 + '/' + d2, 'MMM/DD')) {
                                    return -1
                                } else {
                                    return 1
                                }
                            }).each(function () {
                                $('.status-container[data-cat="'+id+'"]').find($(this)).remove();
                                $('.status-container[data-cat="'+id+'"] .status-body').append($(this)).append('<br/>')
                            });
                        }
                    </script>

                    {{#if profile.hr}}
                        <div class="status-container" data-cat="hr">
                            <div class="status-header">
                                Document Status | Human Resources
                            </div>
                            <hr/>
                            <div class="status-body">

                                <div class="row status">
                                    <div class="col-xs-2 col-sm-1 created">
                                        <div class="top"></div>
                                        <div class="bottom"></div>
                                    </div>
                                    <div class="col-sm-1 icon"><img class="statusIcon" src="{{this.icon}}"/></div>
                                    <div class="col-xs-6 info">
                                        <div class="top">Alex Merceoni</div>
                                        <div class="bottom">Dress Code Policy Update</div>
                                    </div>
                                    <div class="col-sm-4 status-code" style="color:green">Complete</div>
                                </div>
                                <br/>
                                <div class="row status">
                                    <div class="col-xs-2 col-sm-1 created">
                                        <div class="top"></div>
                                        <div class="bottom"></div>
                                    </div>
                                    <div class="col-sm-1 icon"><img class="statusIcon" src="{{this.icon}}"/></div>
                                    <div class="col-xs-6 info">
                                        <div class="top">Jessica Charmini</div>
                                        <div class="bottom">Employment Agreement</div>
                                    </div>
                                    <div class="col-sm-4 status-code" style="color:green">Complete</div>
                                </div>
                                <br/>
                                <div class="row status">
                                    <div class="col-xs-2 col-sm-1 created">
                                        <div class="top"></div>
                                        <div class="bottom"></div>
                                    </div>
                                    <div class="col-sm-1 icon"><img class="statusIcon" src="{{this.icon}}"/></div>
                                    <div class="col-xs-6 info">
                                        <div class="top">Robert Alenhan</div>
                                        <div class="bottom">Employment Agreement</div>
                                    </div>
                                    <div class="col-sm-4 status-code">Awaiting Signature</div>
                                </div>
                                <br/>

                                <script>
                                    var containers = $('.status-container[data-cat="hr"] .status').toArray();
                                    var tot = containers.length;
                                    if(tot){
                                        containers.map(function(obj,i){
                                            var top = $(obj).find('.created .top');
                                            var bottom = $(obj).find('.created .bottom');
                                            var now = moment().subtract(tot-i,'day');
                                            top.html(now.format('MMM').toUpperCase());
                                            bottom.html(now.format('DD'));
                                        });
                                    }

                                </script>

                                {{#each profile.hr_requests}}
                                    <div class="row status">
                                        <div class="col-xs-2 col-sm-1 created">
                                            <div class="top">{{this.createdMonth}}</div>
                                            <div class="bottom">{{this.createdDate}}</div>
                                        </div>
                                        <div class="col-sm-1 icon"><img class="statusIcon" src="{{this.icon}}"/></div>
                                        <div class="col-xs-6 info">
                                            <div class="top">{{this.names}}</div>
                                            <div class="bottom">{{this.title}}</div>
                                        </div>
                                        <div class="col-sm-4 status-code">
                                            <div class="top">{{this.status}}</div>
                                            <div class="bottom">{{this.statuscta}}</div>
                                        </div>
                                    </div>
                                    <br/>
                                {{/each}}

                            </div>
                        </div>
                    {{/if}}

                    <script>
                        reorder('hr');
                    </script>

                    {{#if  profile.realestate}}
                        <div class="status-container" data-cat="realestate">
                            <div class="status-header">
                                Document Status | Real Estate
                            </div>
                            <hr/>
                            <div class="status-body">

                                <div class="row status">
                                    <div class="col-xs-2 col-sm-1 created">
                                        <div class="top">MAR</div>
                                        <div class="bottom">20</div>
                                    </div>
                                    <div class="col-sm-1 icon"><img class="statusIcon" src="{{this.icon}}"/></div>
                                    <div class="col-xs-6 info">
                                        <div class="top">Alex Merceoni</div>
                                        <div class="bottom">Dress Code Policy Update</div>
                                    </div>
                                    <div class="col-sm-4 status-code" style="color:green">Complete</div>
                                </div>
                                <br/>
                                <div class="row status">
                                    <div class="col-xs-2 col-sm-1 created">
                                        <div class="top">JUN</div>
                                        <div class="bottom">18</div>
                                    </div>
                                    <div class="col-sm-1 icon"><img class="statusIcon" src="{{this.icon}}"/></div>
                                    <div class="col-xs-6 info">
                                        <div class="top">Jessica Charmini</div>
                                        <div class="bottom">Employment Agreement</div>
                                    </div>
                                    <div class="col-sm-4 status-code" style="color:green">Complete</div>
                                </div>
                                <br/>
                                <div class="row status">
                                    <div class="col-xs-2 col-sm-1 created">
                                        <div class="top">JUN</div>
                                        <div class="bottom">18</div>
                                    </div>
                                    <div class="col-sm-1 icon"><img class="statusIcon" src="{{this.icon}}"/></div>
                                    <div class="col-xs-6 info">
                                        <div class="top">Robert Alenhan</div>
                                        <div class="bottom">Employment Agreement</div>
                                    </div>
                                    <div class="col-sm-4 status-code">Awaiting Signature</div>
                                </div>
                                <br/>
                                <div class="row status">
                                    <div class="col-xs-2 col-sm-1 created">
                                        <div class="top">JUN</div>
                                        <div class="bottom">18</div>
                                    </div>
                                    <div class="col-sm-1 icon"><img class="statusIcon" src="{{this.icon}}"/></div>
                                    <div class="col-xs-6 info">
                                        <div class="top">Tony Oswald</div>
                                        <div class="bottom">Employment Agreement</div>
                                    </div>
                                    <div class="col-sm-4 status-code">Awaiting Signature</div>
                                </div>
                                <br/>

                                <script>
                                    var containers = $('.status-container[data-cat="realestate"] .status').toArray();
                                    var tot = containers.length;
                                    if(tot){
                                        containers.map(function(obj,i){
                                            var top = $(obj).find('.created .top');
                                            var bottom = $(obj).find('.created .bottom');
                                            var now = moment().subtract(tot-i,'day');
                                            top.html(now.format('MMM').toUpperCase());
                                            bottom.html(now.format('DD'));
                                        });
                                    }

                                </script>

                                {{#each profile.realestate_requests}}
                                    <div class="row status">
                                        <div class="col-xs-2 col-sm-1 created">
                                            <div class="top">{{this.createdMonth}}</div>
                                            <div class="bottom">{{this.createdDate}}</div>
                                        </div>
                                        <div class="col-sm-1 icon"><img class="statusIcon" src="{{this.icon}}"/></div>
                                        <div class="col-xs-6 info">
                                            <div class="top">{{this.names}}</div>
                                            <div class="bottom">{{this.title}}</div>
                                        </div>
                                        <div class="col-sm-4 status-code">{{this.status}}</div>
                                    </div>
                                    <br/>
                                {{/each}}

                            </div>
                        </div>
                    {{/if}}

                    <script>
                        reorder('realestate');
                    </script>

                    {{#if profile.legal}}
                        <div class="status-container" data-cat="legal">
                            <div class="status-header">
                                Document Status | Legal
                            </div>
                            <hr/>
                            <div class="status-body">

                                <div class="row status">
                                    <div class="col-xs-2 col-sm-1 created">
                                        <div class="top">JUN</div>
                                        <div class="bottom">18</div>
                                    </div>
                                    <div class="col-sm-1 icon"><img class="statusIcon" src="{{this.icon}}"/></div>
                                    <div class="col-xs-6 info">
                                        <div class="top">Jessica Charmini</div>
                                        <div class="bottom">Employment Agreement</div>
                                    </div>
                                    <div class="col-sm-4 status-code" style="color:green">Complete</div>
                                </div>
                                <br/>
                                <div class="row status">
                                    <div class="col-xs-2 col-sm-1 created">
                                        <div class="top">JUN</div>
                                        <div class="bottom">18</div>
                                    </div>
                                    <div class="col-sm-1 icon"><img class="statusIcon" src="{{this.icon}}"/></div>
                                    <div class="col-xs-6 info">
                                        <div class="top">Robert Alenhan</div>
                                        <div class="bottom">Employment Agreement</div>
                                    </div>
                                    <div class="col-sm-4 status-code">Awaiting Signature</div>
                                </div>
                                <br/>

                                <script>
                                    var containers = $('.status-container[data-cat="legal"] .status').toArray();
                                    var tot = containers.length;
                                    if(tot){
                                        containers.map(function(obj,i){
                                            var top = $(obj).find('.created .top');
                                            var bottom = $(obj).find('.created .bottom');
                                            var now = moment().subtract(tot-i,'day');
                                            top.html(now.format('MMM').toUpperCase());
                                            bottom.html(now.format('DD'));
                                        });
                                    }

                                </script>

                                {{#each profile.legal_requests}}
                                    <div class="row status">
                                        <div class="col-xs-2 col-sm-1 created">
                                            <div class="top">{{this.createdMonth}}</div>
                                            <div class="bottom">{{this.createdDate}}</div>
                                        </div>
                                        <div class="col-sm-1 icon"><img class="statusIcon" src="{{this.icon}}"/></div>
                                        <div class="col-xs-6 info">
                                            <div class="top">{{this.names}}</div>
                                            <div class="bottom">{{this.title}}</div>
                                        </div>
                                        <div class="col-sm-4 status-code">{{this.status}}</div>
                                    </div>
                                    <br/>
                                {{/each}}

                            </div>
                        </div>
                    {{/if}}

                    <script>
                        reorder('legal');
                    </script>

                    {{#if profile.custom_requests}}
                        <div class="status-container" data-cat="custom">
                            <div class="status-header">
                                Document Status | Custom Templates
                            </div>
                            <hr/>
                            <div class="status-body">

                                {{#each profile.custom_requests}}
                                    <div class="row status">
                                        <div class="col-xs-2 col-sm-1 created">
                                            <div class="top">{{this.createdMonth}}</div>
                                            <div class="bottom">{{this.createdDate}}</div>
                                        </div>
                                        <div class="col-sm-1 icon"><img class="statusIcon" src="{{this.icon}}"/></div>
                                        <div class="col-xs-6 info">
                                            <div class="top">{{this.names}}</div>
                                            <div class="bottom">{{this.title}}</div>
                                        </div>
                                        <div class="col-sm-4 status-code">{{this.status}}</div>
                                    </div>
                                {{/each}}

                            </div>
                        </div>
                    {{/if}}

                    <script>
                        reorder('custom');
                    </script>

                </div>
            {{/if}}

            {{#if embedded-signing}}

                <script>

                    swal({
                        title: "Working..",
                        text: "Please wait while we set up the form..",
                        imageUrl: "/img/ripple.gif",
                        showConfirmButton:false
                    });

                    $.ajax({
                        type:'POST',
                        url:'/getEmbeddedSigning',
                        success: function(response) {

                            console.log(response);

                            HelloSign.open({
                                url: response.embedded.sign_url,
                                container:document.getElementById('embeddedSigningContainer'),
                                allowCancel: true,
                                messageListener: function(eventData) {
                                    console.log(eventData);

                                    if(eventData.event=='signature_request_signed'){
                                        $('.step1').addClass('hidden');
                                        $('.step2').removeClass('hidden');
                                    }
                                }
                            });

                            swal.close();

                            $('#hsEmbeddedFrame').css('width','100%');
                            $('#hsEmbeddedFrame').css('height','100%');

                        }
                    });

                    function next(){
                        window.location.href = '/{{profile.url}}/signer-reassignment';
                    }
                </script>

                <div class="step1">
                    <div id="embeddedSigningContainer"></div>
                </div>

                <div class="step2 hidden col-sm-12">
                    <div class="successBox">
                        <div>
                            <img class="check" src="/img/success-button.png"/>
                            <div class="text">Your document has been successfully signed.</div>
                        </div>
                    </div>
                    <br/>
                    <div class="btn btn-default cta middle" onclick="next()">Next: Signer Reassignment</div>
                </div>

            {{/if}}

            {{#if signer-reassignment}}

                <script>

                    swal({
                        title: "Working..",
                        text: "Please wait while we set up the form..",
                        imageUrl: "/img/ripple.gif",
                        showConfirmButton:false
                    });

                    $.ajax({
                        type:'POST',
                        url:'/getEmbeddedReassign',
                        success: function(response) {

                            console.log(response);

                            HelloSign.open({
                                url: response.embedded.sign_url,
                                container:document.getElementById('embeddedSigningReassign'),
                                allowCancel: true,
                                uxVersion: 2,
                                messageListener: function(eventData) {
                                    console.log(eventData);

                                    if(eventData.event=='signature_request_signed'){
                                        $('.step1').addClass('hidden');
                                        $('.step2').removeClass('hidden');
                                    }
                                }
                            });

                            swal.close();

                            $('#hsEmbeddedFrame').css('width','100%');
                            $('#hsEmbeddedFrame').css('height','100%');

                        }
                    });

                    function next(){
                        window.location.href = '/{{profile.url}}/embedded-templates';
                    }
                </script>

                <div class="step1">
                    <div id="embeddedSigningReassign"></div>
                </div>

                <div class="step2 hidden col-sm-12">
                    <div class="successBox">
                        <div>
                            <img class="check" src="/img/success-button.png"/>
                            <div class="text">Your document has been successfully signed.</div>
                        </div>
                    </div>
                    <br/>
                    <div class="btn btn-default cta middle" onclick="next()">Next: Embedded Templates</div>
                </div>

            {{/if}}

            {{#if merge-fields}}

                <div class="step1 col-xs-12">

                    <div class="merge-fields">

                        <div class="text">
                            This showcases the option to fill in data manually that couldn’t be pulled from your company’s databases.
                            <br/>
                        </div>

                        <br/>

                        <div class="people">

                            <h4>Signature Request</h4>
                            <div class="interim">
                                From 2017 Company Handbook Template > Existing Contact
                            </div>
                            <br/>
                            <h4 class="existing-contact">Select from existing contacts</h4>
                            <div class="contacts">
                                <div class="contact">
                                    <div class="portrait" style="background:url('/img/emp1.jpg') center no-repeat; background-size: contain;"></div>
                                    <div class="name">Alejandra Perea</div>
                                </div>
                                <div class="contact">
                                    <div class="portrait" style="background:url('/img/emp2.jpg') center no-repeat; background-size: contain;"></div>
                                    <div class="name">Gary Lin</div>
                                </div>
                                <div class="contact">
                                    <div class="portrait" style="background:url('/img/emp3.jpg') center no-repeat; background-size: contain;"></div>
                                    <div class="name">Rory Calhoun</div>
                                </div>
                                <div class="contact">
                                    <div class="portrait" style="background:url('/img/emp4.jpg') center no-repeat; background-size: contain;"></div>
                                    <div class="name">Tamara Simmons</div>
                                </div>
                                <div class="contact">
                                    <div class="portrait" style="background:url('/img/emp5.jpg') center no-repeat; background-size: contain;"></div>
                                    <div class="name">Todd Henry</div>
                                </div>
                            </div>

                        </div>

                        <br/>
                        <br/>

                        <div class="text">
                            First, let’s pull Alejandra’s information.
                        </div>
                        <br/>
                        <div class="btn btn-default pull-left cta" onclick="pull()">Pull Information</div>

                        <div class="modal fade" id="mergeFieldsModal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button style="margin-right:10px;" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <div class="body row">
                                            <h4 style="padding-left:40px;">Signature Request</h4>
                                            <div class="interim" style="padding-left:40px;">
                                                From 2017 Company Handbook Template > Existing Contact
                                            </div>
                                            <br/>
                                            <!--<div class="row" style="margin-right:40px;">
                                                <div class="col-sm-offset-10 col-sm-2" style="text-align:center;font-size:12px;position:relative;right:45px;">
                                                    Allow signer to edit
                                                </div>
                                            </div>-->
                                            <div class="mergeFields" style="margin-left:40px">
                                                <div class="row">
                                                    <div class="col-sm-3"><label>Name</label></div>
                                                    <div class="col-sm-9"><input class="disabled" id="name" value="Alejandra Perea" disabled/></div>
                                                    <!--        <div class="col-sm-2">
                                                                                    <div class="checkbox pull-right">
                                                                                        <label><input type="checkbox" value="name"></label>
                                                                                    </div>
                                                                                </div>-->
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-3"><label>Email Address</label></div>
                                                    <div class="col-sm-9"><input class="disabled" id="email" value="alejandra.perea@hellosign.com" disabled/></div>
                                                    <!--<div class="col-sm-2">
                                                                                    <div class="checkbox pull-right">
                                                                                        <label><input type="checkbox" value="email"></label>
                                                                                    </div>
                                                                                </div>-->
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-3"><label>Start Date</label></div>
                                                    <div class="col-sm-9"><input class="disabled" id="date" value="12/05/2015" disabled/></div>
                                                    <!--<div class="col-sm-2">
                                                        <div class="checkbox pull-right">
                                                            <label><input type="checkbox" value="date"></label>
                                                        </div>
                                                    </div>-->
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-3"><label>Position</label></div>
                                                    <div class="col-sm-9"><input class="" id="position" value="Regional Programs Manager"/></div>
                                                    <!--<div class="col-sm-2">
                                <div class="checkbox pull-right">
                                                                                        <label><input type="checkbox" value="position"></label>
                                                                                    </div>
                                                                                </div>-->
                                                </div>
                                                <!--<div class="row">
                                                    <div class="col-sm-3"><label>New Position</label></div>
                                                    <div class="col-sm-9"><input id="new_position"/></div>
                                                    <div class="col-sm-2">
                                                          <div class="checkbox pull-right">
                                                              <label><input type="checkbox" value="new_position"></label>
                                                          </div>
                                                      </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-3"><label>Compensation</label></div>
                                                    <div class="col-sm-9"><input id="new_compensation"/></div>
                                                    <div class="col-sm-2">
                                                                                    <div class="checkbox pull-right">
                                                                                        <label><input type="checkbox" value="new_compensation"></label>
                                                                                    </div>
                                                                                </div>
                                                </div>-->
                                            </div>
                                            <br/>
                                            <div class="btn btn-default pull-left cta sendMergeFields" style="margin-left:40px;margin-bottom:30px;" onclick="merge()">Skip Preview & Send</div>

                                            <div class="btn btn-default pull-right cta previewMergeFields" style="margin-left:40px;margin-bottom:30px;" onclick="preview()">Preview & Edit</div>
                                            <br/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        $('#mergeFieldsModal').modal({show:false, backdrop:false});

                        function pull(){
                            $('#mergeFieldsModal').modal().show();
                        }

                        function merge(){
                            $('#mergeFieldsModal').modal().hide();

                            swal({
                                title: "Working..",
                                text: "Sending signature request with merged fields..",
                                imageUrl: "/img/ripple.gif",
                                showConfirmButton:false
                            });

                            var form = $('#mergeFieldsModal .mergeFields');

                            var data = {
                                name:form.find('#name').val().trim(),
                                position:form.find('#position').val().trim(),
                                start:form.find('#date').val().trim(),
                                //new_position:form.find('#new_position').val().trim(),
                                //new_salary:form.find('#new_compensation').val().trim(),
                                email:form.find('#email').val().trim()
                            };

                            console.log(data);

                            $.ajax({
                                type:'POST',
                                url:'/mergeFields',
                                data:data,
                                success: function(response){

                                    console.log(response);

                                    if(response.statusMessage=='OK'){

                                        swal.close();
                                        $('.step1').addClass('hidden');
                                        $('.step2').removeClass('hidden');

                                    }
                                },
                                error: function(err){
                                    console.log(err);
                                }
                            });

                        }

                        function preview(){

                            $('#mergeFieldsModal').modal().hide();

                            swal({
                                title: "Working..",
                                text: "Please wait while we set up the preview..",
                                imageUrl: "/img/ripple.gif",
                                showConfirmButton:false
                            });

                            var form = $('#mergeFieldsModal .mergeFields');

                            var data = {
                                name:form.find('#name').val().trim(),
                                position:form.find('#position').val().trim(),
                                start:form.find('#date').val().trim(),
                                //new_position:form.find('#new_position').val().trim(),
                                //new_salary:form.find('#new_compensation').val().trim(),
                                email:form.find('#email').val().trim()
                            };

                            $.ajax({
                                type:'POST',
                                url:'/previewMergeFields',
                                data:data,
                                success: function(response) {

                                    HelloSign.open({
                                        url: response.unclaimed_draft.claim_url,
                                        container:document.getElementById('previewMergeContainer'),
                                        allowCancel: true,
                                        messageListener: function(eventData) {
                                            console.log(eventData);
                                            if(eventData.event=='signature_request_sent'){
                                                $('.step15').addClass('hidden');
                                                $('.step2').removeClass('hidden');
                                            }
                                        }
                                    });

                                    $('.step1').addClass('hidden');
                                    $('.step15').removeClass('hidden');

                                    swal.close();

                                    $('#hsEmbeddedFrame').css('width','100%');
                                    $('#hsEmbeddedFrame').css('height','100%');

                                }
                            });
                        }

                    </script>

                </div>

                <div class="step15 hidden col-sm-12" style="padding-left:0 !important;">
                    <div id="previewMergeContainer"></div>
                </div>

                <div class="step2 hidden col-sm-12">
                    <div class="successBox">
                        <div>
                            <img class="check" src="/img/success-button.png"/>
                            <div class="text">Your document has been successfully sent.</div>
                        </div>
                    </div>
                    <br/>
                    <div class="btn btn-default cta middle" onclick="next()">Next: Dashboard View</div>
                </div>

                <script>

                    function next(){
                        window.location.href = '/{{profile.url}}/dashboard';
                    }

                </script>

            {{/if}}

        </div>

    </div>
</div>